.camera-container {
  margin-top: 20px;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .slider-button {
    display: flex;
    gap: 0.5rem;
  }

  .card-body {
    height: 720px;
  }

  @media (max-width: 991px) {
    .card-body {
      height: 720px;
    }

    .card-header {
      flex-direction: column;
    }
    .slider-button {
      margin-top: 0.5rem;
      display: flex;
      flex-wrap: wrap; /* 버튼들을 여러 줄로 배치 */
      justify-content: space-around; /* 버튼 사이 여백 */
    }
  }

  @media (max-width: 600px) {
    .card-body {
      height: 300px;
    }
  }
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 100%; /* 부모 요소의 너비를 100%로 설정 */
  height: 720px;
  max-height: 720px;
  margin: 0 auto;
  overflow: hidden;
}

.slick-track {
  display: flex !important; /* Flexbox로 강제 조정 */
  align-items: center;
  height: 100%;
  max-height: 720px !important;
}

.slick-slide {
  padding: 0 !important;
  height: 100%;
}

.slick-list {
  display: block;
  overflow: hidden;
  max-height: 720px !important;
  margin: 0;
  padding: 0;
}

.slick-slide img {
  width: 80%; /* 이미지의 너비를 부모에 맞추기 */
  height: 80%; /* 부모 요소의 높이에 맞추기 */
  object-fit: cover; /* 이미지를 부모 요소 크기에 맞게 채우기 */
  margin: auto;
}

.slick-prev,
.slick-next {
  z-index: 1000;
  font-size: 24px; /* 버튼 크기 */
  color: white; /* 버튼 색상 */
}

.slick-prev {
  left: -40px; /* 왼쪽 버튼 위치 */
}

.slick-next {
  right: -40px; /* 오른쪽 버튼 위치 */
}
