.camera-container {
  margin-top: 20px;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .slider-button {
    display: flex;
    gap: 0.5rem;
  }

  .card-body {
    height: 500px;
  }

  @media (max-width: 991px) {
    .card-body {
      height: 500px;
    }

    .card-header {
      flex-direction: column;
    }
    .slider-button {
      margin-top: 0.5rem;
      display: flex;
      flex-wrap: wrap; /* 버튼들을 여러 줄로 배치 */
      justify-content: space-around; /* 버튼 사이 여백 */
    }
  }

  @media (max-width: 600px) {
    .card-body {
      height: 300px;
    }
  }
}
