.camera-container {
  margin-top: 20px;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .slider-button {
    display: flex;
    gap: 0.5rem;
  }

  .card-body {
    height: 720px;
  }

  @media (max-width: 991px) {
    .card-body {
      height: 500px;
    }

    .card-header {
      flex-direction: column;
    }
    .slider-button {
      margin-top: 0.5rem;
      display: flex;
      flex-wrap: wrap; /* 버튼들을 여러 줄로 배치 */
      justify-content: space-around; /* 버튼 사이 여백 */
    }
  }

  @media (max-width: 600px) {
    .card-body {
      height: 300px;
    }
  }
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 100%; /* 부모 요소의 너비를 100%로 설정 */
  margin: 0 auto;
  overflow: hidden; /* 이미지가 밖으로 나가지 않도록 설정 */
}

.slider-container img {
  width: 100%; /* 이미지를 슬라이더의 크기에 맞게 조정 */
  height: auto;
}

.slick-track {
  display: flex !important; /* Flexbox로 강제 조정 */
  align-items: center;
  width: 100%;
}

.slick-slide {
  display: flex !important; /* 각 슬라이드를 개별적으로 보여주도록 설정 */
  justify-content: center; /* 슬라이드를 가운데 정렬 */
}

.slick-slide {
  width: 100% !important; /* 한 번에 하나의 슬라이드만 보이도록 */
  padding: 0 !important;
}

.slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: auto;
}
