.info-container {
  display: flex;
  flex-wrap: wrap;
}

.info-box {
  display: flex;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  flex: 1;
  align-items: stretch;
}

.info-box:first-of-type {
  flex: 2;
}

.info-box:last-of-type {
  flex: 1;
}

@media (max-width: 1200px) {
  .info-box {
    flex: 1 1 100%; /* 모바일에서 한 줄에 1개 */
  }
}

.card {
  border: 1px solid #22354e;
  color: #aed5ff;
}
