.user-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.search-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

:where(.css-dev-only-do-not-override-o56dsc).ant-form-item .ant-form-item-label > label {
  color: #8f9cc0 !important;
}

:where(.css-dev-only-do-not-override-o56dsc).ant-form-item .ant-form-item-label {
  text-align: start;
}
