.weather-tag {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 10px;
  color: #8c9fb9;
  @media (max-width: 991px) {
    display: none;
  }
}

.more-btn {
  font-size: 22px;
  width: 64px;
  height: 64px;
  color: white;
  @media (max-width: 991px) {
    display: block;
  }
  @media (min-width: 600px) {
    display: none;
  }
}

.weather-info__mobile {
  z-index: 10000;
  width: 100vw;
  position: absolute;
  top: 64px;
  left: 0;
  padding: 5px 1rem;

  display: flex;
  border-bottom: 1px solid #374860;
  border-top: 1px solid #374860;
  background-color: #22354e;

  flex-direction: column;
  justify-content: center;
  .weather-container {
    display: flex;
    width: 100%;
  }

  .weather-tag {
    display: flex;
  }
}

.date-box {
  display: flex;
  padding: 10px 15px;
  background: #304760;
  margin: 0 15px;
  border-radius: 10px;
  margin-top: 20px;
  align-items: center;
}

// .date-box-icon {
//   border-right: 1px solid #ddd;
// }

.date-info {
  padding-left: 0.5rem;
  border-left: 1px solid #ddd;
}

.date-box-icon > .mdi-alarm {
  font-size: 1.5rem;
  color: #ffffffa6;
  margin-right: 5px;
}

.mdi {
  display: inline-block;
  font: normal normal normal 20px / 1 'Material Design Icons';
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 991px) {
  .date-info {
    display: none;
  }

  .sub-link-title {
    display: none;
  }
}

.date-info > h5 {
  font-size: 12px;
}

.date-info > span {
  font-size: 16px;
  font-family: 'NanumSquareB';
}

.text-white {
  color: #ffffff !important;
}

.text-light {
  color: #f1f2f9 !important;
}

.link-bg-1 {
  background: #1571aa;
}

.sub-link-box {
  display: flex;
  padding: 10px 15px;
  margin: 0 15px;
  border-radius: 10px;
  margin-top: 20px;
  align-items: center;
}

.sub-link-box-icon > .ti-calendar {
  font-size: 1rem;
  color: #ffffffa6;
  margin-left: 0px;
  vertical-align: middle;
}

.sub-link-title {
  text-align: center;
}

.sub-link-title > h5 {
  font-size: 13px;
  margin-bottom: 0px;
}
