.soil-summary-container {
  .card-header:first-child {
    border-radius: calc(3px - 1px) calc(3px - 1px) 0 0;
    border-radius: 11px 11px 0 0;
  }
  .stadium-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-content-label,
  .card-table-two .card-title,
  .card-dashboard-eight .card-title {
    color: #aed5ff;
  }

  .card-header-right {
    display: flex;
  }

  .card-data {
    margin-top: 10px;
    font-size: 14px;
    color: #8c9fb9;
  }

  .card-header-right > .stadium-legend {
    display: flex;
    align-items: center;
  }

  .card-header-right > .stadium-legend > .legend-none {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  .card-header-right > .stadium-legend > .legend-normal {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  .card-header-right > .stadium-legend > .legend-weird {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  .card-header-right > .stadium-legend > .legend-none > div {
    background: linear-gradient(to top, #b3b3b3, #999999);
    width: 12px;
    height: 12px;
    border-radius: 20px;
    margin-right: 5px;
  }

  .card-header-right > .stadium-legend > .legend-weird > div {
    background: linear-gradient(to top, #f78a8a, #ff5163);
    width: 12px;
    height: 12px;
    border-radius: 20px;
    margin-right: 5px;
  }

  .card-header-right > .stadium-legend > .legend-normal > div {
    background: linear-gradient(to top, #89c092, #10d183);
    width: 12px;
    height: 12px;
    border-radius: 20px;
    margin-right: 5px;
  }

  .card-header-right > .legend-modal-btn > button {
    padding: 5px 15px;
    border: 0;
    font-size: 13px;
    border-radius: 5px;
    color: #d9e3f3;
    background: linear-gradient(to top, #5c6c80, #374b64);
  }

  .card-header-right > .stadium-legend > .legend-normal > span {
    color: #d9e3f3;
    font-size: 13px;
  }

  .card-header-right > .stadium-legend > .legend-weird > span {
    color: #d9e3f3;
    font-size: 13px;
  }

  .card-header-right > .stadium-legend > .legend-none > span {
    color: #d9e3f3;
    font-size: 13px;
  }

  .stadium-map {
    position: relative;
  }

  .stadium-img > img {
    width: 100%;
    height: 700px;
  }

  .mobileBtn {
    display: none;
  }

  .equipment-location {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .equipment-btn-box {
    display: flex;
    align-items: center;
  }

  .equipment-btn-box > .condition-icon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 5px;
    border: 5px solid #22354e;
    position: relative;
    z-index: 8;
  }

  .equipment-btn-box > .condition-icon > img {
    width: 30px;
  }

  .equipment-btn-box > .equipment-title {
    position: relative;
    background: #22354e;
    padding: 5px 10px 5px 0px;
    font-size: 13px;
    border-radius: 20px;
  }

  .equipment-btn-box > .equipment-title::before {
    content: '';
    position: absolute;
    left: -7px;
    top: 0;
    height: 29.5px;
    width: 20px;
    background: #22354e;
    z-index: 0;
  }

  .equipment-btn-box > .equipment-title > a {
    color: #fff;
    text-decoration: none;
    position: relative;
  }

  .condition-normal {
    background: linear-gradient(to top, #89c092, #10d183);
  }

  .sensor-1 {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .sensor-2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .sensor-3 {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .sensor-4 {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .camera-1 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .camera-2 {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%, -50%);
  }

  .camera-3 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .fan-1 {
    position: absolute;
    top: 80%;
    left: 10px;
    transform: translate(0%, -80%);
  }

  .fan-2 {
    position: absolute;
    top: 60%;
    left: 10px;
    transform: translate(0%, -60%);
  }

  .fan-3 {
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translate(0%, -40%);
  }

  .fan-4 {
    position: absolute;
    top: 20%;
    left: 10px;
    transform: translate(0%, -20%);
  }

  .fan-5 {
    position: absolute;
    top: 80%;
    right: 10px;
    transform: translate(0%, -80%);
  }

  .fan-6 {
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translate(0%, -60%);
  }

  .fan-7 {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translate(0%, -40%);
  }

  .fan-8 {
    position: absolute;
    top: 20%;
    right: 10px;
    transform: translate(0%, -20%);
  }

  .sensor-top {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .stadium-sensor {
    position: absolute;
    width: 80%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 10;
  }

  .stadium-sensor > .sensor-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
  }

  .stadium-sensor > .sensor-row > .sensor-info {
    background: #172535;
    border-radius: 7px;
    padding: 8px;
  }

  .stadium-sensor > .sensor-row > .sensor-info > .sensor-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .stadium-sensor > .sensor-row > .sensor-info > .sensor-info-row > .sensor-humidity {
    width: 43px;
    background: #304760;
    border-radius: 5px;
    padding: 0 0px;
    margin-right: 5px;
  }

  .stadium-sensor > .sensor-row > .sensor-info > .sensor-info-row > .sensor-humidity > h5 {
    text-align: center;
    color: #fff;
    font-size: 11px;
    padding-top: 6px;
    //   margin-bottom: 5px;
  }

  .stadium-sensor > .sensor-row > .sensor-info > .sensor-info-row > .sensor-humidity > h4 {
    text-align: center;
    color: #fff;
    font-size: 11px;
    margin-bottom: 3px;
  }

  .stadium-sensor > .sensor-row > .sensor-info > .sensor-info-row > .sensor-temperature {
    width: 43px;
    background: #304760;
    border-radius: 5px;
    padding: 0 0px;
  }

  .stadium-sensor > .sensor-row > .sensor-info > .sensor-info-row > .sensor-temperature > h5 {
    text-align: center;
    color: #fff;
    font-size: 11px;
    padding-top: 6px;
    margin-bottom: 5px;
  }

  .stadium-sensor > .sensor-row > .sensor-info > .sensor-info-row > .sensor-temperature > h4 {
    text-align: center;
    color: #fff;
    font-size: 11px;
    margin-bottom: 3px;
  }

  .stadium-sensor > .sensor-row > .sensor-info > .sensor-info-row > .sensor-ec {
    width: 43px;
    background: #304760;
    border-radius: 5px;
    padding: 0 0px;
  }

  .stadium-sensor > .sensor-row > .sensor-info > .sensor-info-row > .sensor-ec > h5 {
    text-align: center;
    color: #fff;
    font-size: 11px;
    padding-top: 6px;
    margin-bottom: 5px;
  }

  .stadium-sensor > .sensor-row > .sensor-info > .sensor-info-row > .sensor-ec > h4 {
    text-align: center;
    color: #fff;
    font-size: 11px;
    margin-bottom: 3px;
  }

  .stadium-sensor > .sensor-row > .sensor-info > .sensor-info-row > .sensor-ph {
    width: 43px;
    background: #304760;
    border-radius: 5px;
    padding: 0 0px;
  }

  .stadium-sensor > .sensor-row > .sensor-info > .sensor-info-row > .sensor-ph > h5 {
    text-align: center;
    color: #fff;
    font-size: 11px;
    padding-top: 6px;
    margin-bottom: 5px;
  }

  .stadium-sensor > .sensor-row > .sensor-info > .sensor-info-row > .sensor-ph > h4 {
    text-align: center;
    color: #fff;
    font-size: 11px;
    margin-bottom: 3px;
  }

  .condition-weird {
    background: linear-gradient(to top, #f78a8a, #ff5163);
  }

  .sensor-bottom {
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .stadium-watering {
    position: absolute;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 85%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .stadium-watering > .stadium-watering-row {
    height: 33.3333%;
    width: 100%;
  }

  .stadium-watering > .stadium-watering-row > .watering-box {
    display: flex;
    background: #21adf4;
    border-radius: 5px;
    padding: 3px 6px;
    align-items: center;
    cursor: pointer;
  }

  .stadium-watering > .stadium-watering-row > .watering-box > .watering-icon {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: #22354e;
  }

  .stadium-watering > .stadium-watering-row > .watering-box > .watering-icon > img {
    width: 15px;
    display: block;
    margin: auto;
    padding-top: 3px;
  }

  .stadium-watering > .stadium-watering-row > .watering-box > h4.watering-number {
    margin: 0;
    font-size: 14px !important;
    font-weight: bold;
    color: #fff;
    margin-left: 8px;
    margin-right: 6px;
  }

  @media (max-width: 499px) {
    /*.stadium-img > img {width: 100%;height: 600px;}*/
    /*.stadium-img > img {width: 100%;height: 500px;}*/
    .stadium-img > img {
      width: 100%;
      height: 400px;
    }
    .stadium-watering > .stadium-watering-row > .watering-box > .watering-icon {
      background: #145cad;
    }
    .stadium-watering > .stadium-watering-row > .watering-box > h4.watering-number {
      display: none;
    }
    .equipment-btn-box > .equipment-title {
      display: none;
    }
    .equipment-btn-box > .condition-icon {
      width: 37px;
      height: 37px;
      padding: 5px;
      z-index: 8;
    }
    .equipment-btn-box > .condition-icon > img {
      width: auto;
      display: block;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-btn {
      width: 22px;
      height: 22px;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-btn > .sensor-data {
      position: absolute;
      width: 20px;
      height: 20px;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-btn > .sensor-data > .sensor-humidity-data {
      width: 18px;
      height: 9px;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-btn > .sensor-data > .sensor-temperature-data {
      width: 18px;
      height: 9px;
    }
    .camera-2 {
      position: absolute;
      top: 43%;
      right: 0px;
      transform: translate(0%, -50%);
      z-index: 20;
    }

    .card-header-right {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 15px;
      flex-direction: column;
    }
    .card-header-right > .stadium-legend {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .card-content > .card-condition-list .condition-list-title > span {
      width: 12px;
      height: 12px;
      border-radius: 20px;
    }
    .card-content > .card-condition-list .condition-list-title > h4 {
      margin: 0;
      font-size: 13px;
      margin-left: 5px;
    }
    .card-content > .card-condition-list .progress-step {
      margin: 0;
      font-size: 12px;
    }
    .card-content > .card-condition-list .condition-text-box {
      padding: 2px 12px;
      font-size: 10px;
    }

    .robot-situation > h5 {
      color: #d9e3f3;
      font-size: 14px;
      margin: 0;
    }
    .robot-situation > .robot-situation-data > span {
      width: 12px;
      height: 12px;
      border-radius: 20px;
      margin: 0 10px;
    }
    .robot-situation > .robot-situation-data > h4 {
      color: #d9e3f3;
      font-size: 14px;
      margin: 0;
    }
    .robot-data > .robot-data-type > .robot-data-type-title > .robot-data-type-iconbox {
      width: 30px;
      height: 30px;
      background: #304760;
      border-radius: 5px;
      text-align: center;
    }
    .robot-data > .robot-data-type > .robot-data-type-title > .robot-data-type-iconbox > i {
      color: #8c9fb9;
      padding-top: 8px;
    }
    .robot-data > .robot-data-type > .robot-data-type-title > .robot-data-type-text {
      margin-left: 8px;
    }
    .robot-data > .robot-data-type > .robot-data-type-title > .robot-data-type-text > h4 {
      font-size: 14px;
      margin: 0;
      color: #d9e3f3;
    }
    .robot-data > .robot-data-type > .robot-data-type-title > .robot-data-type-text > p {
      margin: 0;
      font-size: 10px;
      color: #8c9fb9;
    }
    .robot-data > .robot-data-type > h5 > span {
      padding: 2px 12px;
      font-size: 10px;
      margin: 0;
      border-radius: 50px;
    }
    .robot-data > .robot-data-type > h4 {
      margin: 0;
      color: #fff;
      font-family: 'NanumSquareB';
      width: 26%;
      text-align: right;
      font-size: 16px;
    }
    .robot-data > .robot-data-type > h4 > span {
      font-size: 10px;
      margin-left: 5px;
    }
  }

  @media (max-width: 600px) {
    .mobileBtn {
      padding: 3px 10px;
      border: 0;
      font-size: 12px;
      border-radius: 5px;
      color: #d9e3f3;
      background: linear-gradient(to top, #5c6c80, #374b64);
      display: block;
    }

    .legend-modal-btn {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .stadium-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .card-header-right {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 15px;
    }
    .stadium-sensor {
      display: none;
    }
    .stadium-sensor-m {
      display: block;
      position: absolute;
      width: 80%;
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 10;
    }
    .stadium-sensor-m > .sensor-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 20%;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location {
      position: relative;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-btn {
      width: 30px;
      height: 30px;
      background: #ffffff6e;
      border: 2px solid #fff;
      border-radius: 50px;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-btn:hover {
      background: #ffffffcc;
      cursor: pointer;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-info-box {
      position: absolute;
      left: 25px;
      top: 0;
      background: #22354e;
      border-radius: 5px;
      width: 110px;
      display: none;
      z-index: 20;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-info-box > .info-header {
      background: #2b4159;
      display: flex;
      padding: 5px 10px;
      justify-content: space-between;
      align-items: center;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-info-box > .info-header > h4 {
      color: #fff;
      font-size: 14px;
      margin: 0;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-info-box > .info-header > button {
      background: #eee0;
      border: 0;
      padding-right: 0;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-info-box > .info-header > button > i {
      color: #ffff;
      vertical-align: middle;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-info-box > .info-body {
      padding: 8px 10px;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-info-box > .info-body > ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-info-box > .info-body > ul > li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3px;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-info-box > .info-body > ul > li > span {
      color: #8c9fb9;
      font-size: 12px;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-btn > .sensor-data {
      position: absolute;
      width: 26px;
      height: 26px;
      top: 2px;
      left: 2px;
      display: none;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-btn > .sensor-data > .sensor-humidity-data {
      width: 26px;
      height: 13px;
      background: #eee;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
    }
    .stadium-sensor-m > .sensor-row > .sensor-location > .sensor-btn > .sensor-data > .sensor-temperature-data {
      width: 26px;
      height: 13px;
      background: #eee;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
    }
    .sensor-top-m {
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 11;
    }
    .sensor-bottom-m {
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .stadium-watering {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 85%;
      height: 75%;
    }
    .stadium-watering > .stadium-watering-row > .watering-box {
      display: flex;
      background: #21adf4;
      border-radius: 5px;
      padding: 2px 3px;
      align-items: center;
      cursor: pointer;
    }
    .stadium-watering > .stadium-watering-row > .watering-box > .watering-icon {
      width: 20px !important;
      height: 20px !important;
      border-radius: 5px;
      background: #22354e;
    }
    .stadium-watering > .stadium-watering-row > .watering-box > .watering-icon > img {
      width: 12px !important;
      display: block;
      margin: auto;
      padding-top: 3px;
    }
    .stadium-watering > .stadium-watering-row > .watering-box > h4.watering-number {
      margin: 0;
      font-size: 10px;
      font-weight: bold;
      color: #fff;
      margin-left: 5px;
      margin-right: 2px;
    }

    .equipment-btn-box > .condition-icon {
      width: 26.5px;
      height: 26.5px;
      padding: 5px;
      z-index: 8;
    }
    .equipment-btn-box > .condition-icon > img {
      width: 30px;
      display: none !important;
    }
    .equipment-btn-box > .equipment-title {
      padding: 2px 10px 5px 0px;
      font-size: 13px;
    }
    .equipment-btn-box > .equipment-title::before {
      height: 26.5px;
      width: 25px;
      left: -12px;
    }
    .equipment-btn-box > .equipment-title > a {
      font-size: 12px;
      vertical-align: bottom;
    }

    .camera-2 {
      position: absolute;
      top: 45%;
      right: 10px;
      transform: translate(0%, -50%);
      z-index: 20;
    }
  }
}
