.add-schedule-modal {
  .modal-input-label {
    color: #8c9fb9;
    margin-bottom: 5px;
  }
}

.work-items {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.work-item-container {
  flex: 1;
}
