.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 공통 */
.card {
  border-radius: 11px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #22354e;
  background-clip: border-box;
  border: 1px solid #22354e;
}

.card-header {
  padding-top: 1rem;
  color: #aed5ff;
  font-size: 14px;
  font-weight: 800;
}

.card-body {
  padding-top: 1rem;
}

.chart-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-title {
  font-size: 16px;
  color: #d9e3f3;
}

.chart-description {
  font-size: 14px;
  color: #8c9fb9;
}

/*자주 쓰는 클래스명*/

/* TODO: 추후 파일 분리*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.1875rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.53125rem;
}

h4,
.h4 {
  font-size: 1.3125rem;
}

h5,
.h5 {
  font-size: 1.09375rem;
}

h6,
.h6 {
  font-size: 0.875rem;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

/* flex */

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.flex-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.position-relative {
  position: relative !important;
}

.wd-100p {
  width: 100% !important;
}

.border-0 {
  border: 0 !important;
}

/* margin */

.mr-1 {
  margin-right: 0.25rem !important;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.ml-1 {
  margin-left: 0.5rem !important;
}

/* width */
.w-100 {
  width: 100%;
}

/* LOADING */

/* styles.css */
.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* 다른 요소 위에 표시 */
  background: rgba(255, 255, 255, 0.8); /* 반투명 배경 */
  padding: 20px;
  border-radius: 5px;
}
